*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    background-color: rgba(217, 219, 212, 1);
    background-image: linear-gradient(to bottom, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 10%, rgba(217, 219, 212, 1) 10%, rgba(217, 219, 212, 1) 100vh);
}

#left,
#right{
    background-color: white;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.section-top{
    height: 50px;
}

.section-alert{
    height: 80px;
}

.section-search{
    height: 40px;
}

.section-main{
    height: calc(100% - 170px);
    overflow-y: scroll;
}


.section-center{
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.section-bottom{
    height: 50px;
}

.bg-image{
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
}

.bg-gray{
    background-color: rgb(235, 235, 235);
}

.bg-azure{
    background-color: rgb(54, 182, 221);
}

.bg-white{
    background-color: white;
}

.pad-5{
    padding: 5px;
}

.input-group-text{
    border: none;
}

.form-control{
    border: none;
    font-size: 15px;
}

.arrow-rotate{
    transform: rotate(45deg);
}

.input-group button{
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}

.fa-bell-slash{
    font-size: 20px;
    background-color: white;
    padding: 8px 6px;
    border-radius: 50%;
    color: rgb(54, 182, 221);
    margin-top: 22px;
    margin-left: 6px;
}

.alert-text{
    font-weight: bold;
    font-size: small;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
}

.alert-text-secondary{
    font-size: small;
    text-decoration: underline;
    margin-left: 52px;
    margin-top: -15px;
}

.avatar{
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 6px;
}

.avatar-name{
    font-size: small;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 0px;
}

.fa-circle-notch,
.fa-message,
.fa-ellipsis-vertical{
    margin: 5px;
}

.fa-circle-notch{
    margin-left: 45%;
}